<div class="centered-content">
    <div class="nodal-box">
        <h1 class="title">
            Update Task
        </h1>

        <input #title class="input has-background-light is-medium" type="text" placeholder="New Task title ...">
        <br>
        <br>
        <div class="buttons is-right">
            <button class="button" routerLink="../../">Cancel</button>
            <button class="button is-primary has-text-white" 
                    (click)="UpdateTask(title.value)"
                    >Save</button>
        </div>
    </div>
</div>
